<!DOCTYPE html>
<html>
  <head>
    <title>WorkDiary</title>


    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'hello_react', 'data-turbolinks-track': 'reload' %>
  </head>

</html>